/birdc
/node_modules
__pycache__/
dist/
build/
out/
node_modules/
venv/
__pycache__/
*.pyc

/data

app/backend/models/birdnet/


research/models/birdnet/

research/data/

research/extractions/ 

research/aru/

.DS_Store
